* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  display: flex;
  height: 92px;
  padding: 16px 0px;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(130, 42, 218);
}

.nav-left-logo h3 {
  color: white;
  font-size: 24px;
  font-weight: 700;
}
.nav-middle-menu ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
}
.nav-middle-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.nav-right-button button {
  background: -webkit-linear-gradient(135deg, #ba22bd 0%, #ffe600 100%);
  display: flex;
  align-items: center;
  border: none;
  gap: 5px;
  padding: 12px 24px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  
}

.background-image-container {
  grid-area: 1 / 1 / 7 / 12;
  z-index: -1;
}
.background-image-container img {
  width: 100%;
  height: 100%;
} 

.hero-circle {
  grid-area: 1/ 6 / 5 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.hero-circle img {
  width: 22vw; 
    height: auto;
}

.microphone-div {
  grid-area: 2 / 6 / 4 / 7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
z-index: 1;
   
}

.microphone-div img {
  width: 8vw;
  height: auto;
}

.banner-text {
  grid-area: 4 / 5 / 7 / 8; 
    
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    z-index: 2; 
    color: white;
}

.new{
    grid-area: 2/6/2/7;
    justify-self: end;
    z-index: 3;
    
}

.new button {
    z-index: 3;
    background-color: #49e98b;
    color: black;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
}
.headline h1 {
  text-align: center;
  font-size: 48px;
  justify-content: center;
  margin-bottom: 8px;
}
.headline p{
    margin-bottom: 24px;
    font-size: 16px;
}
.banner-btn{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.banner-btn button {
  background: -webkit-linear-gradient(135deg, #ba22bd 0%, #ffe600 100%);
  display: flex;
  align-items: center;
  border: none;
  gap: 5px;
  padding: 10px 10px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.about{
    padding: 50px 0px 120px 0px;
    background-color: #1A0B2E;
    max-height: fit-content;
}

.para-with-heading{
    display: flex;
    padding: 0px 200px 0px 200px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
    
    color: white;
}

.green-heading-with-para{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
    

}
.empty{
    border-bottom: 2px solid #333030;
    margin-left: 200px;
    margin-right: 200px;
}

.green-heading-div{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.green-heading-div h1{
    color: #49e98b;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 16px;
}

.why-choose{
    padding: 120px 200px;
    background-color: #351165;
    max-height: fit-content;
    
}

.why-choose h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.why-choose-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  color: white;
}
.why-choose-container div
{
  background-color: #2A0F4D;
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  padding: 40px;
  align-items: center;
}

.why-choose-container h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 16px;
}

.Premium-audio-quality{
  grid-area: 1/1/3/2;
}

.Mobile-friendly{
  grid-area: 1/2/1/4;
}

.Global-Community{
  grid-area: 2/2/2/4;
}

.Exclusive-Interviews{
  grid-area: 3/1/3/3;
}

.Rich-Resources{
  grid-area: 3/3/3/4;
}